{% extends 'reviews/main.html' %}
{% block content %}
<section class="d-flex justify-content-around vh-100">
    <div class="mx-5 my-auto">
        <h3>Inscrivez-vous</h3>
        <button type="submit" class="btn btn-secondary mt-2">S'incrire</button>
    </div>
    <form class="w-25 p-3 d-flex flex-column mx-5 my-auto" action="">
        <h3>Connectez-vous</h3>
        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur">
        </div>
        <div class="form-group mt-1">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" placeholder="Mot de passe">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Se connecter</button>
    </form>
</section>
{% endblock content %}
