{% extends 'reviews/main.html' %}
{% block content %}
<section class="container d-flex justify-content-between mt-5">
    <div class="mt-5">
        <h3>Inscrivez-vous</h3>
        <a href="{% url 'reviews:register' %}" class="btn btn-secondary mt-2">S'incrire</a>
    </div>
    <form class="col-lg-6 col-md-8 d-flex flex-column align-items-end align-items-sm-end" action="">
        <h3 class="col-lg-6 col-md-8 d-flex justify-content-center">Connectez-vous</h3>
        <div class="col-lg-6 col-md-8 form-group mt-2">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur">
        </div>
        <div class="col-lg-6 col-md-8 form-group mt-2">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" placeholder="Mot de passe">
        </div>
        <div class="col-lg-6 col-md-8 d-flex justify-content-end mt-2">
            <button type="submit" class="btn btn-primary mt-2 ms-2">Se connecter</button>
        </div>
    </form>
</section>
{% endblock content %}
