{% extends 'base.html' %}
{% block content %}
<form class="container col-md-6 mt-5" method="post" >
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            Confirmer la suppression
        </div>
        <div class="card-body">
          <p class="card-text">Si vous changez d'avis, vous ne pourrez plus restaurer la demande de critique <strong>{{ object.user }}</strong>.</p>
          <button type="submit" class="btn btn-primary">Supprimer</button>
        </div>
      </div>
</form>
{% endblock content %}