{% extends 'base.html' %}
{% block title %}LITReview - Feeds{% endblock title %}
{% block content %}
    <main class="container">
        <section class="col-lg-12 col-md-12 d-flex justify-content-around pt-5 pb-3">
            <a href="{% url 'reviews:create-ticket' %}" class="btn btn-dark">Demander une critique</a>
            <a href="{% url 'reviews:create-review' %}" class="btn btn-dark">Créer une critique</a>
        </section>
        <section class="d-flex flex-column align-items-center pt-3 pb-3">
            <div class="card col-lg-8 col-md-12 m-1 bg-light">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                    <p class="card-text"><small class="text-muted">Utilisateur a demandé une critique</small></p>
                    <p class="card-text"><small class="text-muted">Date :</small></p>
                    </div>
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <img class="align-self-center mb-2" height="500px" width="350px" align="center" src="{{ media_url }}reviews/2022/12/A_Murder_in_Time.jpg" alt="Card image cap">
                <div class="d-flex justify-content-end m-2">
                    <a href="" class="btn btn-dark">Créer une critique</a>
                </div>
            </div>


              <div class="card col-lg-8 col-md-12 m-1 bg-light">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                        <p class="card-text"><small class="text-muted">Utilisateur a publié une critique</small></p>
                        <p class="card-text"><small class="text-muted">Date :</small></p>
                    </div>
                    <h5 class="card-title">Card title - avec la note</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card col-lg-8 col-md-12 m-1 align-self-center mb-2 bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Ticket nr 1 - Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <img class="align-self-center mb-2" height="500px" width="350px" align="center" src="{{ media_url }}reviews/2022/12/A_Murder_in_Time.jpg" alt="Card image cap">
                </div>
              </div>

              <div class="card col-lg-8 col-md-12 m-1 bg-light">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                        <p class="card-text"><small class="text-muted">Vous avez publié une critique</small></p>
                        <p class="card-text"><small class="text-muted">Date :</small></p>
                    </div>
                    <h5 class="card-title">Card title - avec la note</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card col-lg-8 col-md-12 m-1 align-self-center mb-2 bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Ticket nr 1 - Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <img class="align-self-center mb-2" height="500px" width="350px" align="center" src="{{ media_url }}reviews/2022/12/A_Murder_in_Time.jpg" alt="Card image cap">
                </div>
                <div class="d-flex justify-content-end m-2">
                    <a href="" class="btn btn-dark m-2">Modifier</a>
                    <a href="" class="btn btn-dark m-2">Supprimer</a>
                </div>
              </div>


        </section>
    </main>
{% endblock content %}