{% extends 'base.html' %}
{% block title %}LITReview - Feeds{% endblock title %}
{% block content %}
    <main class="container">
        <section class="col-lg-12 col-md-12 d-flex justify-content-around pt-5 pb-3">
            <a href="{% url 'reviews:create-ticket' %}" class="btn btn-dark">Demander une critique</a>
            <a href="{% url 'reviews:create-review' %}" class="btn btn-dark">Créer une critique</a>
        </section>
        <section class="d-flex flex-column align-items-center pt-3 pb-3">
            {% for post in posts %}
                {% if post.content_type == 'TICKET' %}
                    {% include 'reviews/ticket_snippet.html' %}
                {% elif post.content_type == 'REVIEW' %}
                    {% include 'reviews/review_snippet.html' %}
                {% endif %}
            {% endfor %}
        </section>
    </main>        
{% endblock content %}