<div class="card col-lg-8 col-md-12 m-1 bg-light">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <p class="card-text"><small class="text-muted">
                {% if user == post.user %}
                    Vous avez publié une critique
                {% else %}
                    {{ post.user }} a publié une critique
                {% endif %}
            </small></p>
                <p class="card-text"><small class="text-muted">Date : {{ post.time_created}}
            </small></p>
        </div>
        <h5 class="card-title">{{ post.headline}}</h5>
        <p class="card-text">{{ post.body}}</p>
    </div>
    <div class="card col-lg-8 col-md-12 m-1 align-self-center mb-2 bg-secondary">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <p class="card-text text-dark"><small>
                    Ticket - {{ post.user }}
                </small></p>
                    <p class="card-text"><small>Date : {{ post.time_created}}
                </small></p>
            </div>
            <h5 class="card-title">{{ post.ticket.title }}</h5>
            <p class="card-text">{{ post.ticket.description }}</p>
        </div>
        <img class="align-self-center mb-2" height="500px" width="350px" align="center" src="{{ media_url }}{{ post.ticket.image }}" alt="{{ post.ticket.title }}">
    </div>
    {% if user == post.user %}
        <div class="d-flex justify-content-end m-2">
            <a href="{% url 'reviews:review-update' post.id %}" class="btn btn-dark m-2">Modifier</a>
            <a href="{% url 'reviews:review-delete' post.id %}" class="btn btn-dark m-2">Supprimer</a>
        </div>
    {% endif %}
</div>